
    #header
{
	background-color: whitesmoke;
    height: 200px;
    width: 100%;
}
    #div1
    {
        
        height: 500px;
        background-color: gray;
       
    }
    #Div3
    {
        
        height: 400px;
        width: 100%;
        background-color:wheat;
        
    }
    #Div2
    {
        
        background-color: skyblue;
        width: 100%;
        height: 350px;
       
    }
    #footer
    {
        
        background-color: hotpink;
        width: 100%;
        height: 250px;
        margin-top: -30px;
        
    }
    #logo
            {
                width: 250px;
                height: 120px;
                float: left;
                margin-left: 70px;
                
            
        }
 
    body {
      background: white;
      
    }

    #menu-nav {
      max-width: 1000px;

      background-color: pink;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      float: down;
      margin-left: 500px;

    }

    #navigation-bar ul {
      border-radius: 4px;
      overflow: hidden;

    }
    #navigation-bar li {
      float: left;
      width: 20%;

    }
    #navigation-bar li:hover a::before {
      right: 0;
      left: 0;
    }
    #navigation-bar a {
      color: #red;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      padding: 20px 0;
      display: block;
      position: relative;
      transition: all 0.3s ease;

    }
    #navigation-bar a:hover {
      color: #e74c3c;
    }
    #navigation-bar a::before {
      content: "";
      transition: all 0.4s ease-in-out;
      position: absolute;
      right: 50%;
      left: 50%;
      bottom: 0;
      height: 2px;
      background-color: #e74c3c;
              margin-top: 20px;
    }
    #navigation-bar a:hover::before {
      right: 0;
      left: 0;
    }

    li {
        list-style: none;
    }
    #moto{
            color:black;
            margin-left: 400px;
            font-size:  40px;
           
     
        }
        
 #forma
        {
            margin-left: 300px;
            margin-top: 30;
        }
    
        #ime{
            padding: 10px;
            margin-left: 30px;
            margin-top: 5px;
        } 
         #input2{
            padding: 10px;
            margin-left: 20px;
            margin-top: 10px;
        }     
        #drugi1{
            margin-left: 550px;
            display: inline-block;
            
        }
         #drugi2{
            margin-left:40px;
            display: inline-block;
            
        }
        #futer{
            margin-left: 30px;
        }
        
        .proizvod1{
            margin-left: 90px;
            display: inline-block;
           
           
        }
  
    .pSlike{
            width: 150px;
            height: 150px;
            margin-left: 25px;
            margin-top: 5px;
        }
     .cena {
                color: blue;
                font-size: 22px;
            text-align: center;
}
       .button{
              border: none;
              outline: 0;
              padding: 5px;
              color: white;
              background-color: gray;
              text-align: center;
              cursor: pointer;
              width: 100%;
              font-size: 10px;
        }
    .button:hover{
         opacity: 0.5;
        }
      
   
        .vesti{
            margin-left: 5px;
            font-size: 17px;
            color: blue;
            display: inline-block;
        }
        .h3{
            text-align: center;
        }
        
        
        .novost1{
            display: inline-block;
            margin-left: 55px;
           
            width: 500px;
        }
        .novostislike{
            height: 110px;
            width: 200px;
            display: inline-grid;
            margin-left: 30px;
            margin-top: 5px;
        }
        .novostitext{
            display: inline-grid;
            margin-bottom: 20px;
            text-align: justify;
            margin-left: 10px;
            font-size: 10px;
        }
        .vestiText1{
            display: inline-grid;
            margin-bottom: 20px;
           
            margin-left: 20px;
            font-size: 20px;
        }
        
        
        
        
        
        
        
        
